.middle-footer-section {
  display: flex;
  flex-direction: row;
  & .payment-options {
    align-items: center;
    justify-content: space-between;
    margin-right: 114px;
    margin-bottom: 42px;

    & img {
      margin-right: 15px;
    }
  }

  & .stamps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    & img {
      width: 95px;
      padding-bottom: 5px;
    }
  }
}
