header {
  background-color: @primary-color;
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: @bold;
  letter-spacing: @letter-spacing;
  position: static;

  @import url("components/logo.less");

  @import url("components/cart.less");

  & .header-content {
    width: 100%;
    max-width: 1280px;
    padding: 19px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: @white;

    @import url("components/search.less");

    & a {
      color: @white;
      &:hover {
        text-decoration: underline;
      }
    }

    @import url("components/login-register.less");

    @import url("components/orders.less");

    @media (max-width: 859px) {
      display: none;
      position: relative;
    }
  }

  .header-content-mobile {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    align-self: center;

    & button {
      color: @white;
      border: 0;
      background-color: @primary-color;
      font-size: 32px;
    }

    & .logo {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    @media (max-width: 859px) {
      display: flex;
    }
  }
}
