.dropdown {
  font-weight: @bold;
  max-width: 1257px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #f0f0f0;
  letter-spacing: @letter-spacing;
  position: relative;
  
  @import url("components/dropdown-content.less");
}